html {
    background-color: #111318; 
    color: white;
    font-family: 'Roboto';
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: gold;
}