<!DOCTYPE html>
<html lang="en">

<!-- All other pages will inherit this header with -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Linking css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Linking Javascript -->
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

    <!-- Linking jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Set title of page -->
    <title>{% block title %}{% endblock %}</title>
</head>

<!-- All other pages will inherit this body template -->
<body>
    <!-- Template Navbar goes here -->
    <div class="navbar">
        <div class="navleft">
            <button type="button">info</button>
        </div>
        <div class="navmiddle">
            <h1>LoLdle</h1>
        </div>
        <div class="navright">
            <button type="button">stats</button>
            <button type="button">settings</button>
        </div>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</body>

</html>