<!DOCTYPE html>
<html lang="en">

<!-- All other pages will inherit this header with -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Linking css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Linking Javascript -->
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

    <!-- Linking jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Set title of page -->
    <title>{% block title %}{% endblock %}</title>
</head>

<!-- All other pages will inherit this body template -->
<body>
    <!-- Template Navbar goes here -->
    <div class="navbar">
        <div class="navleft">
                <i class="fa fa-navicon" id="menu"></i>
            <span onclick="openInfo()">
                <i class="fa fa-info-circle" id="info"></i>
            </span>
        </div>
        <div class="navmiddle">
            <h1>LoLdle</h1>
        </div>
        <div class="navright">
            <span onclick="openAnalytics()">
                <i class="fa fa-bar-chart" id="analytics"></i>
            </span>
            <span onclick="openSettings()">
                <i class="fa fa-cog" id="settings"></i>
            </span>
            <span onclick="openLogin()">
                <i class="fa fa-sign-in" id="login"></i>
            </span>
        </div>
    </div>

    <!-- The Info Modal -->
    <div id="infoModal" class="modal">
        <!-- Info Content -->
        <div class="modal-content info-content">
        <span class="close">&times;</span>
        <h1>Welcome to LoLdle</h1>
        <p>This is where we test to see if you truly are a challenger</p>
        <p>Or are you just another casual Iron player</p>
        <p>Every day a new champion is selected</p>
        <p>Your objective is to guess the Daily Champion</p>
        <h2>Here are the rules to play the game:</h2>
        <ol>
            <li>Type in a valid champions name</li>
            <li>You'll receive hints based on one of the three following criteria</li>
            <li>Champion role</li>
            <li>Champion release year</li>
            <li>Number of skins</li>
        </ol>
        </div>
    </div>

    <!-- The Analytics Modal -->
    <div id="analyticsModal" class="modal">
        <!-- Analytics Content -->
        <div class="modal-content analytics-content">
        <span class="close">&times;</span>
        <p>Insert analytics info here</p>
        </div>
    </div>

    <!-- The Settings Modal -->
    <div id="settingsModal" class="modal">
        <!-- Settings Content -->
        <div class="modal-content settings-content">
        <span class="close">&times;</span>
            <h2> Settings </h2>
            <div class="flex-container">
                <h4>Light Mode</h4>
                <label class="switch">
                    <input type="checkbox" id="light-switch" onclick="lightMode()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

    <!--The Login Modal-->
    <div id="loginModal" class="modal">
        <!--Login content-->
        <div class="modal-content login-content">
            <span class="close">&times;</span>
            <!--Content here-->
                <div class="login-field">
                    <div>
                        <label for="uname">Summoner Name</label>
                        <input type="text" placeholder="Enter your name summoner" name="uname" required> <!--Can potentially change input type to email-->
                    </div>
                    <div>
                        <label for="psw">Password</label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                    </div>
                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember">Remember me
                    </label>
                </div>
                <div class="container"><!-- restyle and add JS for close functionality-->
                    <button type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</body>

</html>
