<!DOCTYPE html>
<html lang="en">

<!-- All other pages will inherit this header with -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Linking css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Linking jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Linking Javascript -->
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

    <!-- Set title of page -->
    <title>{% block title %}{% endblock %}</title>
</head>

<!-- All other pages will inherit this body template -->
<body>
    <!-- Template Navbar goes here -->
    <div class="navbar">
        <div class="navleft">
            <!-- login/logout button -->
            {% if current_user.is_anonymous %}
            <a href="/login">
                <i class='fa fa-lock'></i>
            </a>
            {% else %}
            <a href="/logout">
                <i class='fa fa-unlock'></i>
                <!-- <i class='fas fa-lock-open'></i> -->
            </a>
            {% endif %}
            <!-- If user is logged in, display a login button, else display a logout button -->
            <!-- <span onclick="openModal('login-modal', 'login-close')">
                <i class="fa fa-sign-in" id="login"></i>
            </span> -->
            <!-- login/logout button above -->
            <span onclick="openModal('info-modal', 'info-close')">
                <i class="fa fa-info-circle" id="info"></i>
            </span>
        </div>
        <div class="navmiddle">
            <h1>LoLdle</h1>
        </div>
        <div class="navright">
            <span onclick="openModal('analytics-modal', 'analytics-close')">
                <i class="fa fa-bar-chart" id="analytics"></i>
            </span>
            <span onclick="openModal('settings-modal', 'settings-close')">
                <i class="fa fa-cog" id="settings"></i>
            </span>
        </div>
    </div>

    <!-- The Login Modal-->
    <div id="login-modal" class="modal">
        <!-- Login Content -->
        <div class="modal-content login-content">
            <span class="close" id='login-close'>
                <i class="fa fa-sign-in"></i>
            </span>
            <div>
                <label for="uname"><b>Summoner Name</b></label>
                 <input type="text" placeholder="Enter name" name="uname" required>
            </div>
            <div>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <div>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>
            </div>
        </div>
    </div>

    <!-- The Info Modal -->
    <div id="info-modal" class="modal">
        <!-- Info Content -->
        <div class="modal-content info-content">
            <span class="close" id='info-close'>
                <i class="fa fa-times-circle"></i>
            </span>
        <p>Insert info content here</p>
        </div>
    </div>

    <!-- The Analytics Modal -->
    <div id="analytics-modal" class="modal">
        <!-- Analytics Content -->
        <div class="modal-content analytics-content">
            <span class="close" id='analytics-close'>
                <i class="fa fa-times-circle"></i>
            </span>
        <p>Insert analytics info here</p>
        </div>
    </div>

    <!-- The Settings Modal -->
    <div id="settings-modal" class="modal">
        <!-- Settings Content -->
        <div class="modal-content settings-content">
        <span class="close" id='settings-close'>
            <i class="fa fa-times-circle"></i>
        </span>
            <h2> Settings </h2>
            <div class="flex-container">
                <h4>Light Mode</h4>
                <label class="switch">
                    <input type="checkbox" id="light-switch" onclick="lightMode()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</body>

</html>
