<!DOCTYPE html>
<html lang="en">

<!-- All other pages will inherit this header with -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Linking css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Linking jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Linking Javascript -->
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/feedback.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/modals.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/lightdark.js') }}"></script>

    <!-- Autocomplete function -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />  

    <!-- Set title of page -->
    <title>{% block title %}{% endblock %}</title>
</head>

<!-- All other pages will inherit this body template -->
<body>
    <!-- Template Navbar goes here -->
    <div class="navbar">
        <div class="navleft">
                <i class="clickable-icon fa fa-navicon" id="menu"></i>
            <span onclick="openModal('info-modal', 'info-close')">
                <i class="clickable-icon fa fa-info-circle" id="info"></i>
            </span>
        </div>
        <div class="navmiddle">
            <div id="logo-box">
                <a href={{ url_for('home') }}><img id="logo" src="./static/png/loldle_logo.png" alt="LoLdle"> </a>
            </div>
        </div>
        <div class="navright">
            <span onclick="openModal('analytics-modal', 'analytics-close'); populate_analytics()">
                <i class="clickable-icon fa fa-bar-chart" id="analytics"></i>
            </span>
            <span onclick="openModal('settings-modal', 'settings-close')">
                <i class="clickable-icon fa fa-cog" id="settings"></i>
            </span>
        </div>
    </div>

    <!-- The Info Modal -->
    <div id="info-modal" class="modal">
        <!-- Info Content -->
        <div class="modal-content info-content">
            <span class="close" id='info-close'>
                <i class="clickable-icon fa fa-times-circle"></i>
            </span>
        <div style="text-align:center;">
        <h2> HOW TO PLAY</h2>
        </div>
        <p> Attempt to guess the mystery League of Legends champion in 8 guesses. <br> <br>
            After each guess, you will receive clues regarding the champion of the day, in comparison to your guess. <br><br>
            Flex your League of Legends knowledge to your friends, by guessing the champion in as few turns as possible.
        </p>
        <p style = "font-weight: bold;"> <br>Example</p>
        
        <div style = "text-align: center;"><a><img src="./static/png/example.png" alt=""></a>
            <p>This tells us that todays champion is not a mage, was released after 2009, and has less than 14 skins.</p>
        </div>
        
        <p style = "font-weight: bold;"><br><br>A new LOLdle will be available to guess each day!</p>
        <p> Made by: 
            <a href="https://github.com/cathy-ngo">@Cathy N</a>,
            <a href="https://github.com/GlendleNguyen">@Glen N</a>,
            <a href="https://github.com/Aaron-Lim00">@Aaron L</a>,
            <a href="https://github.com/sean-alucaro">@Sean L</a>
        </p>
        </div>
    </div>

    <!-- The Analytics Modal -->
    <div id="analytics-modal" class="modal">
        <!-- Analytics Content -->
        <div class="modal-content analytics-content">
            <span class="close" id='analytics-close'>
                <i class="clickable-icon fa fa-times-circle"></i>
            </span>
            <h2 style = "text-align: center;">Personal Statistics</h2>
            <div id="gamesplayed"></div><br>
            <div id="gameswon"></div><br>
            <div id="winpercentage"></div><br>
            <div id="counterOne"></div><br>
            <div id="counterTwo"></div><br>
            <div id="counterThree"></div><br>
            <div id="counterFour"></div><br>
            <div id="counterFive"></div><br>
            <div id="counterSix"></div><br>
            <div id="counterSeven"></div><br>
            <div id="counterEight"></div><br>
        </div>
    </div>

    <!-- The Settings Modal -->
    <div id="settings-modal" class="modal">
        <!-- Settings Content -->
        <div class="modal-content settings-content">
        <span class="close" id='settings-close'>
            <i class="clickable-icon fa fa-times-circle"></i>
        </span>
            <h2> Settings </h2>

            <div class="flex-container">
                <h4>Light Mode</h4>
                <label class="switch">
                    <input type="checkbox" id="light-switch" onclick="lightMode()">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="flex-container">
                <h4>Clear Local Storage</h4>
                <label class="switch">
                    <button class="clearBtn" id="clearBtn" onclick="clearStorage()">Clear</button>
                </label>
            </div>
        </div>
    </div>

    <!-- The Victory Modal -->
    <div id="victory-modal" class="modal">
        <!-- Analytics Content -->
        <div class="modal-content victory-content">
            <span class="close" id='victory-close'>
                <i class="clickable-icon fa fa-times-circle"></i>
            </span>
            <h2 style = "text-align: center;" id="victory-header">Victory!</h2>
            <div id="victoryScreen"></div>
            <button class="share" onclick="share()">Copy Your Results!</button>
        </div>
    </div>

    <!-- The Victory Image -->
    <div id="victory-image" class="modal">
        <!-- Victory Content -->
        <div class="finish-screen">
            <img src="./static/png/victory.png" alt="Victory Screen" class="finish-screen" style="width: 80%;">
        </div>
    </div>

    <!-- The Defeat Image -->
    <div id="defeat-image" class="modal">
        <!-- Analytics Content -->
        <div class="finish-screen">
            <img src="./static/png/defeat.png" alt="Defeat Screen" class="finish-screen">
        </div>
    </div>

    <!-- The Defeat Modal -->
    <div id="defeat-modal" class="modal">
        <!-- Defeat Content -->
        <div class="modal-content defeat-content">
            <span class="close" id='defeat-close'>
                <i class="clickable-icon fa fa-times-circle"></i>
            </span>
            <h2 style = "text-align: center;" id ="defeat-header">Defeat!</h2>
            <div id="defeatScreen"></div>
            <button class="share" onclick="share()">Copy Your Results!</button>
        </div>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</body>

</html>
