{% extends 'base.html' %}

{% block title %}LoLdle{% endblock %}

{% block content %}

<div class="game container">
    <!-- Main area for players to make their guess -->
    <div class="inputbox">
        <h3>DECLARE YOUR CHAMPION!</h3>
        <div class="guess">
            <input type="text" id="userinput" placeholder="GUESS 1 OF 8">
            <button type="button" id="submit" onclick="guess()">SUBMIT</button>
        </div>
    </div>

    <!-- Results of player guesses will be appended here -->
    <div id="results"></div>

</div>


{% endblock %}