{% extends 'base.html' %}

{% block title %}LoLdle{% endblock %}

{% block content %}

<div class="game container">
    <!-- Main area for players to make their guess -->
    <form action="/index" class="input-form" id="input-form" method="POST">
        <div class="inputbox">
            <h3>DECLARE YOUR CHAMPION!</h3>
            <div class="guess">
                <input type="text" placeholder="GUESS 1 OF 8" id="input" name="input" required/>
                <!-- Script to display menu of champions-->
                <script>
                $( function() {
                  var availableInput = [
                      {% for champion in champions %}
                          "{{champion|safe}}",
                      {% endfor %}
                  ];
                  $( "#input" ).autocomplete({
                    source: availableInput
                  });
                } );
                </script>
                <button type="submit" id="submit">LOCK IN</button>
            </div>
        </div>
    </form>
        <!-- Results of player guesses will be appended here -->
    <div id="feedback-header"></div>
    <div id="feedback-table"></div>
    </div>
</div>

{% endblock %}
