{% extends 'base.html' %}

{% block title %}LoLdle{% endblock %}

{% block content %}

<div class="game container">
    <!-- Main area for players to make their guess -->
    <form action="/index" class="input-form" id="input-form" method="POST">
        <div class="inputbox">
            <h3>DECLARE YOUR CHAMPION!</h3>
            <div class="guess">
                <!-- Note that this input does not have a label !!! FIX -->
                <input type="text" placeholder="GUESS 1 OF 8" id="input" name="input"/>
                <script>
                $( function() {
                  var availableInput = [
                      {% for champion in champions %}
                          "{{champion|safe}}",
                      {% endfor %}
                  ];
                  $( "#input" ).autocomplete({
                    source: availableInput
                  });
                } );
                </script>
                <button type="submit" id="submit" onclick="newGuess()">LOCK IN</button>
            </div>
        </div>
    </form>
    <!-- Results of player guesses will be appended here -->
    <div id="feedback-table">
        <h4 id="helper1"></h4>
        <!-- <div class="grid-container">
            <div id="helper2"></div>
            <div id="helper3"></div>
            <div id="helper4"></div>    
        </div>
        <div class="grid-container" id="feedback-table-header";>
            <p>Role</p>
            <p>Year</p>
            <p>Skins</p>
        </div>  -->
    </div>
</div>

{% endblock %}